 @import '../../CssVariables.css';

.header {
    width: 100%;
    text-align: center;
    background-color: var(--color-bg);
    padding: 20px 0;
  }
  
  .headerImage {
    max-width: 100%;
    height: auto;
  }
  